body {
	background-image: url('./images/pokemon-wallpaper.png');
	background-size: cover;
	font-family: 'Berlin Sans FB Demi ';
}
:root {
	--gold-color: #f0a500;
	--brown-color: #7c3c21;
	--red-color: #cd0a0a;
}
.spinner-container {
	margin-top: 15%;
}
.spinner-border {
	width: 10rem;
	height: 10rem;
}
.get-ready {
	margin-top: 20px;
	font-size: 1.4rem;
}
.single-card {
	width: 150px;
	height: 150px;
	border-radius: 8px;
}
.trophy {
	width: 60%;
}
.lose {
	width: 80%;
	border-radius: 10px;
}
h1 {
	-webkit-text-stroke: 0.5px var(--brown-color);
	color: var(--gold-color);
}
h3 {
	color: var(--brown-color);
}
span {
	color: var(--red-color);
}
.play-again {
	font-size: 1.2rem;
	color: var(--red-color);
	font-weight: bold;
}
.play-again:hover {
	color: var(--brown-color);
}
